services:
  ollama2:
    image: ollama/ollama:latest
    container_name: ollama2
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    networks:
      - app_network

# test runner on compose/start
  test:
    build: .
    container_name: test_runner
    working_dir: /app
    command: python -m pytest -q --disable-warnings --maxfail=1
    volumes:
      - .:/app
      - ./test/tiny_scripts:/app/test/tiny_scripts
      - ./test/fixtures:/app/test/fixtures
      - ./test/data:/app/test/data
    environment:
      - OLLAMA_HOST=http://ollama2:11434
    depends_on:
      app_database:
        condition: service_healthy
      ollama2:
        condition: service_started
    networks:
      - app_network
    restart: "no"



      # waits for the tests to resolve

  app:
    build: .
    container_name: desktop_app # container name
    working_dir: /app
    command: python -m src.main
    depends_on:
      app_database:
        condition: service_healthy # health check before app starts
      test:
          condition: service_completed_successfully
    environment:
      - DISPLAY=${DISPLAY}
      - DATABASE_URL=mysql+mysqlconnector://appuser:apppassword@app_database:3306/appdb
      - DB_HOST=app_database
      - DB_USER=appuser
      - DB_PASSWORD=apppassword
      - DB_NAME=appdb
      - OLLAMA_HOST=http://ollama2:11434
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix  # For GUI on Linux/Mac
      - .:/app
    networks:
      - app_network
    stdin_open: true
    tty: true


# lines below are for the database assosiated with the project
  app_database:
    image: mysql:8.0.44
    container_name: app_database
    restart: unless-stopped
    environment: # below are credentials which can be edited, refer to main.py
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword
      MYSQL_DATABASE: appdb
    command: --default-authentication-plugin=caching_sha2_password
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./database.sql:/docker-entrypoint-initdb.d/database.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "app_database", "-u", "appuser", "-papppassword"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network


volumes:
  mysql_data:
    driver: local
  ollama_data:
    driver: local

networks:
  app_network:
        driver: bridge